@keyframes web{
    1%{content: "I Am |";}
    2%{content: "I Am D|";}
    3%{content: "I Am De|";}
    4%{content: "I Am Dev|";}
    5%{content: "I Am Deve|";}
    6%{content: "I Am Devel|";}
    7%{content: "I Am Develo|";}
    8%{content: "I Am Develop|";}
    9%{content: "I Am Develope|";}
    10%{content: "I Am Developer|";}
    24%{content: "I Am Developer|";}
    25%{content: "I Am Develope|";}
    26%{content: "I Am Develop|";}
    27%{content: "I Am Develo|";}
    28%{content: "I Am Devel|";}
    29%{content: "I Am Deve|";}
    30%{content: "I Am Dev|";}
    31%{content: "I Am De|";}
    32%{content: "I Am D|";}
    33%{content: "I Am |";}
    34%{content: "I Am D|";}
    35%{content: "I Am De|";}
    36%{content: "I Am Des|";}
    37%{content: "I Am Desi|";}
    38%{content: "I Am Desig|";}
    39%{content: "I Am Design|";}
    40%{content: "I Am Designe|";}
    41%{content: "I Am Designer|";}
    56%{content: "I Am Designer|";}
    57%{content: "I Am Designe|";}
    58%{content: "I Am Design|";}
    59%{content: "I Am Desig|";}
    60%{content: "I Am Desi|";}
    61%{content: "I Am Des|";}
    62%{content: "I Am De|";}
    63%{content: "I Am D|";}
    65%{content: "I Am |";}
    66%{content: "I Am N|";}
    67%{content: "I Am Na|";}
    68%{content: "I Am Nas|";}
    69%{content: "I Am Nass|";}
    70%{content: "I Am Nassa|";}
    71%{content: "I Am Nassar|";}
    94%{content: "I Am Nassar|";}
    95%{content: "I Am Nassa|";}
    96%{content: "I Am Nass|";}
    97%{content: "I Am Nas|";}
    98%{content: "I Am Na|";}
    99%{content: "I Am N|";}
    100%{content: "I Am |";}
    
}